<html>
<body>
<h1> Welcome to template Source </h1>
Hostname: <%= node['hostname'] %>
IPAddress: <%=node['ipaddress'] %>
<img src="http://wall2born.com/data/out/250/image-44549561-high-definition-wallpapers-of-nature.jpg">
</body>
</html>
